/* Google Poppin Font */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

 Nav{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    }
  body{
        font-family: 'Poppins', sans-serif;
  }
  main{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Nav Styles */
  nav span h2, .popular-collection h2{
    color: #3A3A3A;
  }
 span a{
    text-decoration: none;
    color: #3A3A3A;
    margin: 0 15px;
  }

  /* Top Part Section */
  .half-width{
    width: 50%;
  }
  .top-part{
    display: flex;
  }
  h1, .top-details p{
    color: #3A3A3A;
  }
  h1{
    font-size: 52px;
    font-weight: 700;
  }
  .top-details p{
    font-size: 16px;
    font-weight: 600;
  }
  .top-details a{
    text-decoration: none;
    color: white;
    background-color: #E02C6D;
    padding: 10px 24px;
    border-radius: 30px;
  }

  /* Other Part Style */
  .other-link a{
    margin: 0 20px;
  }

  /* Popular Collection Styles */
  .popular-collection{
    margin-top: 100px;
  }
  .popular-collection h2{
    text-align: center;
  }
  .popular-collection h3{
    margin-bottom: 0;
    font-size: 28px;
    font-weight: 500;
  }
  .popular-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
  }
  .p-item{
    box-shadow: 5px 5px 5px 5px #AAAAAA;
    width: 329px;
    height: 476px;
    padding: 15px;
    border-radius: 5px;
  }
  .p-item p{
    font-size: 24px;
    font-weight: 400;
  }
  .p-item small{
    color: #787885;
    font-size: 14px;
    font-weight: 700;
  }
  .fa-star{
    color: gold;
  }
  .fa-star-half-stroke{
    color: gold;
  }

  /* Footer Style */

  footer{
    text-align: center;
    background-color: #0A0826;
    color: white;
    padding: 50px 0;
    margin-top: 100px;
  }
  footer h2{
    margin-bottom: 0;
  }
  footer div{
    margin-top: 10px;
  }
  footer div a{
    margin: 10px;
    color: white;
  }

  /* Mobile Devices */

  @media only screen and (max-width:688px){
    .container{
        width: 100%;
    }
    .top-part{
        flex-direction: column-reverse;
        margin-bottom: 100px;
    }
    .top-part .top-details{
        text-align: center;
    }
    .popular-items{
        grid-template-columns: repeat(1,1fr);
    }
  }
  @media only screen and (min-width:688px) and (max-width:992px){
    .container{
        width: 100%;
    }
    .top-part{
        flex-direction: column-reverse;
        margin-bottom: 100px;
    }
    .top-part .top-details{
        text-align: center;
    }
    .popular-items{
        grid-template-columns: repeat(2,1fr);
    }
  }